.item{
    display: flex;
    padding: 6px 10px 6px 10px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    margin: 0.2rem 0;
}
.icon{
    margin-right: 0.5rem;
    margin-top: 6px
}

.item:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    border-radius:10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}